%section.customers
  .customers-carousel
    .customers-carousel-slide
      .container
        .row.flex-row
          .col-md-5
            %blockquote.customer-quote
              .quote-body
                %p.quote-text
                  “We decided to use an Open Source based platform so we can participate in the development and contribute to the features and concepts we need such as file size statistics, OpenID Connect, GPG, and Docker Registry. GitLab's built-in Continuous Integration and independent CI Runners allows our developers to integrate very specific environments, boosting productivity and increasing developer satisfaction.”
              .quote-meta
                .quote-media
                  = image_tag "/images/home/roger-meier-headshot.jpg", alt: 'Roger Meier'
                %cite.quote-attribution
                  Roger Meier
                  %span.quote-attribution-title Social Coding Platform, Siemens

              .btn-group.u-margin-top-xs
                %a.btn.cta-btn.ghost{ href: "/customers/"} View more customers

          .col-md-6.col-md-offset-1.hidden-xs.hidden-sm
            .slide-media
              .slide-media-bg{ style: "background-image: url('/images/home/siemens-bg.jpg')" }
              = image_tag "/images/home/siemens-logo.png"

