%section.enterprise-edition
  .container
    .row.flex-row.text-center
      .col-md-10.col-md-offset-1
        %h3.main-heading
          Try GitLab Ultimate free for 30 days.
        %p.u-margin-bottom-xs 
          Evaluate self-hosted GitLab for 30 days and receive all the features of Ultimate, our top-tier subscription plan, for free.
          %strong No credit card required.

        %a.btn.cta-btn.accent{href: "/free-trial/"}
          Start your free trial
        %a.btn.cta-btn.ghost{href: "/webcast/gitlab-enterprise-demo/"}
          Join a live demo
