---
title: Implementation Services
suppress_header: true
description: "Enterprise-ready, scalable GitLab installation designed by experts."
extra_css:
  - services.css
---

.services-page
  .page-container.container.landing-container.text-center
    %h1.page-headline
      Implementation Services
    %h3.headline-subtitle
      Enterprise-ready, scalable GitLab installation designed by experts

.services-inner
  .page-container.container
    .row
      .col-md-10.col-md-offset-1.tile
        %h1 Summary
        %p.service-description
          Optimize your organization's adoption of GitLab.  The GitLab Professional Service team has years of experience deploying, scaling and securing GitLab installations for customers.  High availability, geo-replication, and infrastructure-as-code deployment cloud providers such as AWS and GCP are all part of a typical engagement with our implementation teams.  For scaling systems from hundreds to thousands or even tens of thousands of users, get direct, hands-on assistance from our experts.

        %h2 Who is this service for?
        %p.service-description
          Any customer who is looking to accelerate their adoption of modern software development tooling.  From large Fortune 100 companies to small start-ups, everyone can benefit from starting their Concurrent DevOps journey on the right foot.

        %h1 What's included?
        %ul
          %li Installation of GitLab
          %li Backup design implementation
          %li Upgrade / maintenance planning and execution
          %li High Availability / GEO architecting and setup

.services-form#contactform
  .page-container.container.text-center
    %h2 Interested in GitLab Professional Services? Get in touch.
    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1476
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1476, function(form) {
        form.onSuccess(function(values, followUpUrl) {

          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';
          return false;
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
