---
layout: default
title: Communication Preference Center 
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
extra_js:
  - faq.js
---

.wrapper
  .simple-header
    %h1 Communication Preference Center
  .centered-form
    .font-regular.margin-top40
      %p Get email updates from GitLab and stay up to date. Check the box next to the item(s) you would like to receive. To remove yourself from a mailing list uncheck the box. 

    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1364
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1364, function(form) {
        form.onSuccess(function() {
          form.getFormElem().hide();
          $('.confirmform').attr('style', 'visibility: visible');
          return false;
        });
      });
    .confirmform{style: "visibility:hidden;"}
      %h3 Thank you!
      %p You are now subscribed! 
    %br/
    %br/