---
layout: comparison_page
trial_bar: true
title: GitLab compared to other tools
description: "This page compares the features of GitLab software to non-GitLab software. Review the pros and cons of each to help make your decision easier."
suppress_header: true
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - comparison.js
  - bootstrap-tooltip.js
---

- competitors = data.features.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.features.comparisons.gitlab_com_vs_github_com, product_one: competitors.gitlab_com, product_two: competitors.github_com, key_one: :gitlab_com, key_two: :github_com }
