---
title: Education
suppress_header: true
description: "GitLab Education"
extra_css:
  - services.css
---

.services-page
  .page-container.container.landing-container.text-center
    %h1.page-headline
      GitLab Education
    %h3.headline-subtitle
      Train your teams to become efficient in GitLab & Concurrent DevOps

.services-inner
  .page-container.container
    .row
      .col-md-10.col-md-offset-1.tile
        %h1 Summary
        %p.service-description
          Your teams are composed of highly proficient technical experts. With any comprehensive solution, there is a learning curve to consider. Our product specialists - technology professionals themselves - are available to train your teams to become efficient in GitLab quickly.

        %h2 Who is this service for?
        %p.service-description
          Anyone looking to cut "under the curve" of learning not only GitLab but Concurrent DevOps best practices.  

        %h1 What's included?
        %p GitLab offers a variety of training courses depending on your team's needs.  In addition, we offer [specilized training](/services/specialized) that can be customized even further.        %p The general courses we offer include:
        %ul
          %li GitLab with Git Basics Training
          %li GitLab CI/CD Training
          %li GitLab Administration Training

.services-form#contactform
  .page-container.container.text-center
    %h2 Interested in GitLab Professional Services? Get in touch.
    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1476
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1476, function(form) {
        form.onSuccess(function(values, followUpUrl) {

          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';
          return false;
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
